.fl-fb-blink-red {
  -webkit-animation-name: blinkOutline;
          animation-name: blinkOutline;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-direction: reverse;
          animation-direction: reverse; }

@-webkit-keyframes blinkOutline {
  0% {
    outline: 1px solid transparent; }
  50% {
    outline: 1px solid rgba(250, 0, 0, 0.8); }
  100% {
    outline: 1px solid transparent; } }

@keyframes blinkOutline {
  0% {
    outline: 1px solid transparent; }
  50% {
    outline: 1px solid rgba(250, 0, 0, 0.8); }
  100% {
    outline: 1px solid transparent; } }

.fl-fb {
  color: #444; }

.fl-fb-ComponentsContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }

.fl-fb-FormComponent {
  position: relative;
  padding: 0 15px 10px;
  margin: 5px 0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: background-color .2s ease-out, -webkit-transform .2s ease-out, -webkit-box-shadow .2s ease-out;
  transition: background-color .2s ease-out, -webkit-transform .2s ease-out, -webkit-box-shadow .2s ease-out;
  transition: transform .2s ease-out, box-shadow .2s ease-out, background-color .2s ease-out;
  transition: transform .2s ease-out, box-shadow .2s ease-out, background-color .2s ease-out, -webkit-transform .2s ease-out, -webkit-box-shadow .2s ease-out;
  z-index: 1; }
  .fl-fb-FormComponent:hover {
    background-color: #ebf4fc; }

.fl-fb-FormComponent--configuration-visible {
  z-index: 2;
  background-color: #ebf4fc; }

.fl-fb-FormComponent-editable[contenteditable="true"] {
  background-color: #fcf8e3; }

.fl-fb--dragging {
  -webkit-box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 15px -5px rgba(0, 0, 0, 0.8);
  z-index: 2;
  background-color: #ebf4fc; }

.fl-fb-FormComponent-option {
  display: block; }

.fl-fb-FormComponent-option-text {
  margin-left: 10px;
  font-weight: bold; }

.fl-fb-FormComponent-TextArea {
  resize: none; }

.fl-fb-FormComponent-sidebar {
  position: absolute;
  right: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  min-height: 100%;
  padding: 5px 10px;
  -webkit-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
  text-align: center;
  background-color: #eee;
  -webkit-transition: all .1s ease, visibility 0s, -webkit-box-shadow .2s;
  transition: all .1s ease, visibility 0s, -webkit-box-shadow .2s;
  transition: all .1s ease, visibility 0s, box-shadow .2s;
  transition: all .1s ease, visibility 0s, box-shadow .2s, -webkit-box-shadow .2s;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .2s ease, visibility 0s;
  transition: all .2s ease, visibility 0s; }
  .fl-fb-FormComponent:hover .fl-fb-FormComponent-sidebar,
  .fl-fb-FormComponent--configuration-visible .fl-fb-FormComponent-sidebar {
    visibility: visible;
    opacity: 1;
    opacity: .9; }

[class*=fl-fb-FormComponent-sidebar-btn] {
  background-color: transparent;
  border: 0;
  visibility: visible;
  opacity: 1;
  opacity: .8;
  margin: 2px 0; }
  [class*=fl-fb-FormComponent-sidebar-btn]:hover {
    opacity: 1; }

.fl-fb-FormComponent-sidebar-btn-delete {
  margin-top: auto;
  color: #d9534f; }

.fl-fb-FormComponent--configuration-visible .fl-fb-FormComponent-sidebar-btn-config {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .2s ease, visibility 0s;
  transition: all .2s ease, visibility 0s; }

.fl-fb-FormComponent-configuration {
  background-color: #eee;
  width: 100%;
  padding: 15px 15px 2px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s ease, visibility 0s;
  transition: all 0.2s ease, visibility 0s;
  position: absolute;
  right: 0;
  bottom: 5px;
  z-index: 2;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px; }
  .fl-fb-FormComponent--configuration-visible .fl-fb-FormComponent-configuration {
    visibility: visible;
    opacity: 1; }

.fl-fb-FormComponent-configuration-buttons,
.fl-fb-FormComponent-configuration-options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-bottom: 10px; }

.fl-fb-FormComponent-configuration-options-optionDisabled.fl-fb-FormComponent-configuration-options-optionDisabled {
  margin-left: 5px;
  margin-right: 5px; }

.fl-fb-FormComponent-configuration-elementName {
  margin: auto 0 auto auto;
  font-weight: bold;
  -webkit-transform: translateY(0.1em);
      -ms-transform: translateY(0.1em);
          transform: translateY(0.1em);
  color: #999;
  padding: 6px 12px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background-color: #eee; }

[class*=fl-fb-FormComponent-configuration-options-btn] {
  background-color: transparent;
  color: #999;
  border: 0; }

.fl-fb-FormComponent-configuration-options-input {
  min-width: 50%;
  text-indent: 5px; }

.fl-fb-ui-switch {
  display: inline-block;
  margin: 0 5px; }
  .fl-fb-ui-switch .fl-fb-ui-switch-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden; }
  .fl-fb-ui-switch .fl-fb-ui-switch-toggle + label {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .fl-fb-ui-switch input.fl-fb-ui-switch-toggle-round + label {
    padding: 2px;
    width: -webkit-calc( 20px * 2);
    width: calc( 20px * 2);
    height: 20px;
    background-color: #dddddd;
    -webkit-border-radius: 20px;
            border-radius: 20px; }
  .fl-fb-ui-switch input.fl-fb-ui-switch-toggle-round + label:after,
  .fl-fb-ui-switch input.fl-fb-ui-switch-toggle-round + label:before {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: ""; }
  .fl-fb-ui-switch input.fl-fb-ui-switch-toggle-round + label:before {
    right: 1px;
    background-color: #f1f1f1;
    -webkit-border-radius: 20px;
            border-radius: 20px;
    -webkit-transition: background 0.4s;
    transition: background 0.4s; }
  .fl-fb-ui-switch input.fl-fb-ui-switch-toggle-round + label:after {
    width: -webkit-calc( 20px - 2px);
    width: calc( 20px - 2px);
    background-color: #fff;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    -webkit-transition: margin 0.4s;
    transition: margin 0.4s; }
  .fl-fb-ui-switch input.fl-fb-ui-switch-toggle-round:checked + label:before {
    background-color: #63A8EB; }
  .fl-fb-ui-switch input.fl-fb-ui-switch-toggle-round:checked + label:after {
    margin-left: 20px; }

.fl-fb-ControlBar {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 10px; }

[class*='fl-fb-ControlBar-button'] {
  cursor: pointer; }

.fl-fb-ControlBar-dropdown.fl-fb-ControlBar-dropdown {
  position: relative;
  z-index: 3 !important; }

.fl-fb-ControlBar-dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.fl-fb-ControlBar-dropdown-content {
  -webkit-transform: translate3d(0, -1px, 0);
          transform: translate3d(0, -1px, 0); }
  .fl-fb-ControlBar-dropdown-content a {
    display: block;
    padding: 3px 20px;
    white-space: nowrap;
    color: inherit; }
    .fl-fb-ControlBar-dropdown-content a:hover {
      text-decoration: none;
      background-color: #f5f5f5; }

.fl-fb-ControlBar-dropdown-checkbox-label {
  margin: 0;
  font-weight: normal; }

.fl-fb-ControlBar-dropdown-checkbox-toggle {
  display: none; }

.fl-fb-ControlBar-dropdown:hover > .fl-fb-ControlBar-dropdown-content {
  display: block; }

/*# sourceMappingURL=fl-form-builder.css.map */
