.navbar {
  height: 40px;
}
.greyed-out {
  background-color: #eee;
  padding: 2em;
}
.sidebar {
  min-height: 1000px;
  max-height: 100%;
}
@media (max-width: 750px) {
  .sidebar {
    display: none;
  }
}
.main-title {
  padding: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}
